{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<table class="table table-striped">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date&Time</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody class="text table-group-divider">
      {% for history in historys %}
          <tr class="color">
              <th scope="row">{{ history["id_h"] }}</th>
              <td>{{ history["date_time"] }}</td>
              <td>{{ history["type_pl"] }}</td>
          </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
