{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <div class="index">
        <h1>Welcome to CapyWorld!</h1>
        <div>This site was created to allow you as a user to check what kind of capybara are you!</div>
        <div>The site grants you posibility to check yours CapyType on daily basis to see which ona you areat exact moment!</div>
        <div>Of course you got access to history where you can see your previous CapyTypes!</div>
        <div>Check yourself!</div>
        <form action="/quiz" method="post">
                <button type="submit" class="BUTTON">Quiz</button>
        </form>
    </div>
{% endblock %}

