{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
    <div class="app">
        <h1>CapyQuiz</h1>
        <div class="quiz">
            <h2 id="question">Question</h2>
            <div id="answer-buttons">
                <button class="btnd" id="a"></button>
                <button class="btnd" id="b"></button>
                <button class="btnd" id="c"></button>
                <button class="btnd" id="d"></button>
            </div>
            <button id="next-btnd">Next</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
