{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="input-container mx-auto">
            <input autocomplete="off" autofocus class="form-control" type="text" placeholder="Username" name="user" required>
            <input autocomplete="off" autofocus class="form-control" type="text" placeholder="Email" name="mail" required>
        </div>
        <div>
            <input class="form-control mx-auto w-auto"type="password" placeholder="Password" name="pass" required>
        </div>
        <div>
            <input class="form-control mx-auto w-auto"type="password" placeholder="Confirm password" name="confirmation" required>
        </div>
        <div>
            <button type="submit" class="btn btn-warning">Register</button>
        </div>
    </form>
    <b></b>
        <button type="submit" class="btn btn-link"><a class="nav-link" href="/login">Log In</a></button>
{% endblock %}
